// Brand colors
light-cream          = rgb(248, 248, 245)
gray                 = rgb(103, 103, 103)
light-gray           = rgb(173, 173, 173)
very-light-gray      = rgb(203, 203, 203)
extremely-light-gray = rgb(243, 243, 243)
orange               = rgb(255, 136, 060)
cyan                 = rgb( 38, 165, 170)
blue                 = rgb(000, 077, 108)
red                  = rgb(200, 010, 010)

// Display width breakpoints
display-mobile              =  480px
display-mobile-horizontal   =  640px
display-tablet              =  768px
display-tablet-horizontal   = 1024px

// Media queries

// Use with:
//   @media [variable]
// Or combine:
//   temp-media-string = [variable_1] + ", " + [variable_2]
//   @media temp-media-string

// Simple queries
mobile-min                = "all and (min-width: " + display-mobile + ")"
mobile-max                = "all and (max-width: " + (display-mobile - 1px) + ")"
mobile-horizontal-min     = "all and (min-width: " + display-mobile-horizontal + ")"
mobile-horizontal-max     = "all and (max-width: " + (display-mobile-horizontal - 1px) + ")"
tablet-min                = "all and (min-width: " + display-tablet + ")"
tablet-max                = "all and (max-width: " + (display-tablet - 1px) + ")"
tablet-horizontal-min     = "all and (min-width: " + display-tablet-horizontal + ")"
tablet-horizontal-max     = "all and (max-width: " + (display-tablet-horizontal - 1px) + ")"

// Mixins
button-background(bg-color)
  background: bg-color

  &:hover:not([disabled]):not(.disabled)
    background linear-gradient(top, lighten(bg-color, 10), bg-color)

  &:active:not([disabled]):not(.disabled)
    background linear-gradient(top, darken(bg-color, 10), darken(bg-color, 5))

checkbox-button(radio = false, size = 24px, btn-color = cyan)
  -khtml-appearance none
  -webkit-appearance none
  position relative
  background rgba(0, 0, 0, .05)
  background radial-gradient((size / 6 * 5) (size / 6 * 5), rgba(255, 255, 255, 0), very-light-gray + rgb(30, 30, 30) 75%)
  box-shadow 0 0 1px 1px rgba(255, 255, 255, .6)
  cursor pointer
  font-size size !important
  vertical-align middle
  if radio == true
    border-radius (size / 6 * 8)
    height round(size / 6 * 8)
    width round(size / 6 * 8)
  else
    padding round(size / 12)
    height round(size / 6 * 7)
    width round(size / 6 * 7)
  &:checked:after, &.selected:after
    display block
    position absolute
    content " "
    if radio == true
      border-radius size
      background btn-color
      width round(size / 6 * 5)
      height round(size / 6 * 5)
      top round(size / 4.5)
      left round(size / 4.5)
    else
      content "3"
      font-family "Pictos"
      top round(-(size) / 10)
      left 0
      font-size 1.5em
      color btn-color + rgb(10, 10, 10)

  &:hover
    background radial-gradient((size / 6 * 5) (size / 6 * 5), rgba(255, 255, 255, 0), very-light-gray 75%)
    box-shadow 0 0 1px 1px rgba(255, 255, 255, 1)

  &[disabled], &.disabled
    cursor default
    background very-light-gray
    box-shadow none
    &:checked:after, &.selected:after
      if radio == true
        background light-gray
      else
        color light-gray

