html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
input:not([type="checkbox"]):not([type="submit"]),
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  border: 1px solid #e6e6e6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(0.15, #fafafa));
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #fafafa 15%);
  background: -moz-linear-gradient(top, #f3f3f3 0%, #fafafa 15%);
  background: -o-linear-gradient(top, #f3f3f3 0%, #fafafa 15%);
  background: -ms-linear-gradient(top, #f3f3f3 0%, #fafafa 15%);
  background: linear-gradient(top, #f3f3f3 0%, #fafafa 15%);
}
input[type="checkbox"] {
  -khtml-appearance: none;
  -webkit-appearance: none;
  position: relative;
  background: rgba(0,0,0,0.05);
  background: radial-gradient(20px 20px, rgba(255,255,255,0), #e9e9e9 75%);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.6);
  box-shadow: 0 0 1px 1px rgba(255,255,255,0.6);
  cursor: pointer;
  font-size: 24px !important;
  padding: 2px;
  height: 28px;
  width: 28px;
}
input[type="checkbox"]:checked:after,
input[type="checkbox"].selected:after {
  display: block;
  position: absolute;
  content: " ";
  content: "3";
  font-family: "Pictos";
  top: -2px;
  left: 0;
  font-size: 1.5em;
  color: #30afb4;
}
input[type="checkbox"]:hover {
  background: radial-gradient(20px 20px, rgba(255,255,255,0), #cbcbcb 75%);
  -webkit-box-shadow: 0 0 1px 1px #fff;
  box-shadow: 0 0 1px 1px #fff;
}
input[type="checkbox"][disabled],
input[type="checkbox"].disabled {
  cursor: default;
  background: #cbcbcb;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="checkbox"][disabled]:checked:after,
input[type="checkbox"].disabled:checked:after,
input[type="checkbox"][disabled].selected:after,
input[type="checkbox"].disabled.selected:after {
  color: #adadad;
}
input[type="radio"] {
  -khtml-appearance: none;
  -webkit-appearance: none;
  position: relative;
  background: rgba(0,0,0,0.05);
  background: radial-gradient(20px 20px, rgba(255,255,255,0), #e9e9e9 75%);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.6);
  box-shadow: 0 0 1px 1px rgba(255,255,255,0.6);
  cursor: pointer;
  font-size: 24px !important;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  height: 32px;
  width: 32px;
}
input[type="radio"]:checked:after,
input[type="radio"].selected:after {
  display: block;
  position: absolute;
  content: " ";
  -webkit-border-radius: 24px;
  border-radius: 24px;
  background: #26a5aa;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
}
input[type="radio"]:hover {
  background: radial-gradient(20px 20px, rgba(255,255,255,0), #cbcbcb 75%);
  -webkit-box-shadow: 0 0 1px 1px #fff;
  box-shadow: 0 0 1px 1px #fff;
}
input[type="radio"][disabled],
input[type="radio"].disabled {
  cursor: default;
  background: #cbcbcb;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="radio"][disabled]:checked:after,
input[type="radio"].disabled:checked:after,
input[type="radio"][disabled].selected:after,
input[type="radio"].disabled.selected:after {
  background: #adadad;
}
a.button,
button,
input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0.25em 1em;
  line-height: 1em;
  cursor: pointer;
  background: #adadad;
}
a.button,
button,
input[type="submit"],
a.button:visited,
button:visited,
input[type="submit"]:visited {
  color: #fff;
}
a.button:hover:not([disabled]):not(.disabled),
button:hover:not([disabled]):not(.disabled),
input[type="submit"]:hover:not([disabled]):not(.disabled) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c7c7c7), color-stop(1, #adadad));
  background: -webkit-linear-gradient(top, #c7c7c7 0%, #adadad 100%);
  background: -moz-linear-gradient(top, #c7c7c7 0%, #adadad 100%);
  background: -o-linear-gradient(top, #c7c7c7 0%, #adadad 100%);
  background: -ms-linear-gradient(top, #c7c7c7 0%, #adadad 100%);
  background: linear-gradient(top, #c7c7c7 0%, #adadad 100%);
}
a.button:active:not([disabled]):not(.disabled),
button:active:not([disabled]):not(.disabled),
input[type="submit"]:active:not([disabled]):not(.disabled) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #949494), color-stop(1, #a0a0a0));
  background: -webkit-linear-gradient(top, #949494 0%, #a0a0a0 100%);
  background: -moz-linear-gradient(top, #949494 0%, #a0a0a0 100%);
  background: -o-linear-gradient(top, #949494 0%, #a0a0a0 100%);
  background: -ms-linear-gradient(top, #949494 0%, #a0a0a0 100%);
  background: linear-gradient(top, #949494 0%, #a0a0a0 100%);
}
a.button.remove,
button.remove,
input[type="submit"].remove,
a.button.delete,
button.delete,
input[type="submit"].delete {
  background: #c80a0a;
}
a.button.remove:hover:not([disabled]):not(.disabled),
button.remove:hover:not([disabled]):not(.disabled),
input[type="submit"].remove:hover:not([disabled]):not(.disabled),
a.button.delete:hover:not([disabled]):not(.disabled),
button.delete:hover:not([disabled]):not(.disabled),
input[type="submit"].delete:hover:not([disabled]):not(.disabled) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f31212), color-stop(1, #c80a0a));
  background: -webkit-linear-gradient(top, #f31212 0%, #c80a0a 100%);
  background: -moz-linear-gradient(top, #f31212 0%, #c80a0a 100%);
  background: -o-linear-gradient(top, #f31212 0%, #c80a0a 100%);
  background: -ms-linear-gradient(top, #f31212 0%, #c80a0a 100%);
  background: linear-gradient(top, #f31212 0%, #c80a0a 100%);
}
a.button.remove:active:not([disabled]):not(.disabled),
button.remove:active:not([disabled]):not(.disabled),
input[type="submit"].remove:active:not([disabled]):not(.disabled),
a.button.delete:active:not([disabled]):not(.disabled),
button.delete:active:not([disabled]):not(.disabled),
input[type="submit"].delete:active:not([disabled]):not(.disabled) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #970808), color-stop(1, #b00909));
  background: -webkit-linear-gradient(top, #970808 0%, #b00909 100%);
  background: -moz-linear-gradient(top, #970808 0%, #b00909 100%);
  background: -o-linear-gradient(top, #970808 0%, #b00909 100%);
  background: -ms-linear-gradient(top, #970808 0%, #b00909 100%);
  background: linear-gradient(top, #970808 0%, #b00909 100%);
}
a.button.action,
input[type="submit"],
input[type="button"],
button.action {
  background: #ff883c;
}
a.button.action:hover:not([disabled]):not(.disabled),
input[type="submit"]:hover:not([disabled]):not(.disabled),
input[type="button"]:hover:not([disabled]):not(.disabled),
button.action:hover:not([disabled]):not(.disabled) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffa76f), color-stop(1, #ff883c));
  background: -webkit-linear-gradient(top, #ffa76f 0%, #ff883c 100%);
  background: -moz-linear-gradient(top, #ffa76f 0%, #ff883c 100%);
  background: -o-linear-gradient(top, #ffa76f 0%, #ff883c 100%);
  background: -ms-linear-gradient(top, #ffa76f 0%, #ff883c 100%);
  background: linear-gradient(top, #ffa76f 0%, #ff883c 100%);
}
a.button.action:active:not([disabled]):not(.disabled),
input[type="submit"]:active:not([disabled]):not(.disabled),
input[type="button"]:active:not([disabled]):not(.disabled),
button.action:active:not([disabled]):not(.disabled) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff6909), color-stop(1, #ff7822));
  background: -webkit-linear-gradient(top, #ff6909 0%, #ff7822 100%);
  background: -moz-linear-gradient(top, #ff6909 0%, #ff7822 100%);
  background: -o-linear-gradient(top, #ff6909 0%, #ff7822 100%);
  background: -ms-linear-gradient(top, #ff6909 0%, #ff7822 100%);
  background: linear-gradient(top, #ff6909 0%, #ff7822 100%);
}
html,
body {
  background: #f8f8f5;
}
body header,
body footer {
  text-align: center;
  font-family: 'Nexa-Light';
}
body header {
  padding: 1.25em 3em 1em;
  background: #ff883c;
  border-bottom: 1px solid #ffe7d8;
}
body header h1,
body header span {
  color: #fff;
  font-size: 2.5em;
}
body footer {
  padding: 2em 1em 2.5em;
  font-size: 0.6em;
  color: #adadad;
  overflow: hidden;
}
body > article {
  margin: 1em;
}
body > article > form {
  position: relative;
}
body > article > form input {
  width: 100%;
  font-size: 1.5em !important;
  margin: 0;
  padding-right: 1.5em;
}
body > article > form input + button {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  font-size: 1.5em;
  min-width: 1.7em;
  padding: 0.25em;
}
body > article ul {
  margin-top: 1em;
}
body > article ul li {
  padding: 0.7em 1em 0.25em;
  position: relative;
  border: 1px solid #f3f3f3;
  border-top: 0 none;
  font-family: 'Proxima';
  background: #fff;
}
body > article ul li:first-child {
  border-top: 1px solid #f3f3f3;
}
body > article ul li input[type="checkbox"] {
  position: absolute;
  top: 0.125em;
  left: 0;
}
body > article ul li input[type="checkbox"] + span {
  margin-left: 1.5em;
}
body > article ul li button {
  display: none;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  right: 0;
  margin: 0;
  bottom: 0;
  font-size: 1.5em;
  min-width: 1.7em;
  padding: 0.25em;
}
body > article ul li:hover button {
  display: block;
}
body > article ul li > span {
  font-size: 1.25em;
  line-height: 1.25em;
  color: #676767;
}
body > article ul li > span > strong,
body > article ul li > span > span.title {
  display: inline-block;
  max-width: 50%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body > article ul li span.amount {
  float: right;
  margin-right: 2em;
  text-align: right;
}
body > article ul li span.amount strong,
body > article ul li span.amount span.amount {
  font-size: 1.25em;
  margin-right: 0.25em;
  font-weight: normal;
  color: #26a5aa;
}
body > article ul li span.amount span.unit {
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 3.5em;
  color: #adadad;
  text-align: left;
}
@media all and (min-width: 1024px) {
  body > article {
    margin: 1em auto;
    width: 1024px;
  }
}
